.b-account-row {
    height: 50px;

    &.b-account-row__not-edit .b-account-row__balance:hover {
        background-color: #f3f3f3;
    }
}

.b-add-account-row {
    cursor: pointer;
    height: 50px;
}